body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#landing-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
}

.buttons {
  transform: translateY(55vh);
  text-align: center;
  font-family: "Minecraft Regular";
}

.container {
  display: none;
}

.row {
  justify-content: center;
}

.block {
  height: 33px;
  width: 33px;
  background-size: contain;
  display: inline-block;
  margin-right: 0;
  margin-bottom: -6px;
  box-sizing: border-box;
}

.block:hover {
  border: 1px solid white;
}

[block-type="sky"] {
  background-color: #8dbfff;
}

[block-type="dirt"] {
  background-image: url("../images/dirt.png");
}

[block-type="rock"] {
  background-image: url("../images/rock.png");
}

[block-type="grass"] {
  background-image: url("../images/grass.png");
}

[block-type="leaf"] {
  background-image: url("../images/leaf.jpg");
}

[block-type="tree"] {
  background-image: url("../images/tree.png");
}

[block-type="cloud"] {
  background-image: url("../images/cloud.png");
}

#toolsMenu {
  background-color: #dedede;
}

#pickaxe {
  background-image: url("../images/pickaxe.png");
}

#axe {
  background-image: url("../images/axe.png");
}

#shovel {
  background-image: url("../images/shovel.png");
}

#cloudTool {
  background-image: url("../images/cloudTool.png");
  background-size: contain;
  background-size: 100% 100%;
}

.tool {
  height: 80px;
  width: 300px;
  background-color: gray;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#stack {
  background-color: gray;
  height: 200px;
}

.stackItem {
  height: 31%;
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #dedede;
}
.blueBorder {
  border: 5px solid rgb(80, 80, 253);
  /* box-shadow: 0px 1px 6px 4px rgb(80, 80,253); */
}

.redBorder {
  border: 5px solid rgb(248, 92, 92);
  /* box-shadow: 0px 1px 6px 4px rgb(248, 92, 92); */
}

@media screen and (max-width: 576px) {
  #gameBoard {
    order: 2;
  }
}
