body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#landing-page {
  background-image: url("../images/background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
}

.buttons {
  transform: translateY(55vh);
  text-align: center;
  font-family: "Minecraft Regular";
}

.tutorial {
  background-image: url("../images/tutorial-bg.PNG");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  display: none;
}

.text {
  width: 400px;
  display: inline-block;
  transform: translateX(30vh);
  margin-top: 10vh;
  background-color: rgb(160, 153, 153);
  color: white;
  text-align: center;
  font-family: "Minecraft Regular";
  font-size: 25px;
}

.container {
  display: none;
}

.row {
  margin-top: 10%;
  height: 15%;
  justify-content: center;
  box-sizing: border-box;
}

.blocks-row {
  height: 3vh;
  box-sizing: border-box;
}

.block {
  /* height: 100%; */
  width: calc(100% / 28);
  background-size: contain;
  display: inline-block;
  height: 3vh;
  /* padding-top: calc(100% / 28); */
  /* margin-right: 0; */
  /* margin-bottom: -6px;  */
  box-sizing: border-box;
}

.block:hover {
  border: 1px solid white;
}

[block-type="sky"] {
  background-color: #8dbfff;
}

[block-type="dirt"] {
  background-image: url("../images/dirt.png");
}

[block-type="rock"] {
  background-image: url("../images/rock.png");
}

[block-type="grass"] {
  background-image: url("../images/grass.png");
}

[block-type="leaf"] {
  background-image: url("../images/leaf.jpg");
}

[block-type="tree"] {
  background-image: url("../images/tree.png");
}

[block-type="cloud"] {
  background-image: url("../images/cloud.png");
}

#gameBoard {
  cursor: pointer;
}

#toolsMenu {
  background-color: #dedede;
}

#pickaxe {
  background-image: url("../images/pickaxe.png");
}

#axe {
  background-image: url("../images/axe.png");
}

#shovel {
  background-image: url("../images/shovel.png");
}

.tool {
  height: 100%;
  width: 60%;
  max-width: 100px;
  background-color: gray;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.stackRow {
  height: 32%;
  margin-top: 7%;
}

#stack {
  background-color: gray;
  width: 60%;
  max-width: 100px;
  height: 100%;
  padding-top: 3%;
}

.stackItem {
  margin: auto;
  display: block;
  height: 15%;
  margin-bottom: 4%;
  width: 50%;
  box-sizing: border-box;
  border: 1px solid #dedede;
  background-size: contain;
}

.blueBorder {
  border: 5px solid rgb(80, 80, 253);
}

.redBorder {
  border: 5px solid rgb(248, 92, 92) !important;
}

@media screen and (max-width: 576px) {
  #gameBoard {
    order: 2;
  }
  #landing-page {
    background-image: url("../images/background-sm2.jpg");
    background-size: contain;
  }
}
