body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#gameBoard {
  padding: 0;
  border: 1px solid black;
}

.block {
  height: 33px;
  width: 3.5%;
  background-size: contain;
  display: inline-block;
  margin-right: 0;
  margin-bottom: -4px;
  box-sizing: border-box;
}

[block-type="sky"], [block-type="empty"] {
  background-color: #8dbfff;
}

[block-type="cloud"] {
  background-color: #ffffff;
}

[block-type="dirt"]  {
  background-image: url("../images/dirt.png");
}

[block-type="rock"]  {
  background-image: url("../images/rock.png");
}

[block-type="grass"]  {
  background-image: url("../images/grass.png");
}

[block-type="leaf"] {
  background-image: url("../images/leaf.jpg");
}

[block-type="tree"] {
  background-image: url("../images/tree.png");
}

#toolsMenu {
  background-color: #dedede;
}

#pickaxe {
  background-image: url("../images/pickaxe.png");
}

#axe {
  background-image: url("../images/axe.png");
}

#shovel {
  background-image: url("../images/shovel.png");
}

.tool {
  height: 12vh;
  width: 300px;
  background-color: gray;
  background-size: contain;
  background-repeat: no-repeat;
}

#stack {
  background-color: gray;
  border: 1px solid black;
  height: 50px;
}
